<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f4e8b8;border-radius:20px;">
    <a class="navbar-brand" routerLink="/" style="font-size: 2em;">The restaurant</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/food" style="font-size: 1.5em;"> Food </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/orders" style="font-size: 1.5em;"> Cart <span *ngIf="ordersCount!=0" class="badge badge-pill badge-danger">{{ ordersCount }}</span></a>
        </li>
    </ul>
</nav>