@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

#food_nav {
  display: flex;
  flex: 1 1 auto;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #63401e;
  box-shadow: 0px 0px 5px 1px #3a2512;
}

#food_nav .navbar-brand {
  color: white;
}

#food_nav ul {
  display: flex;
  flex: 1 1 auto;
}

#food_nav ul li {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

#food_nav ul li .nav-link {
  color: white;
}

.navbar-brand{
    font-family: 'Gloria Hallelujah', cursive;
}
