<div id="content_container">
    <div class="content-item info">
        <div id="text">
            Duis magna metus, viverra ac tristique sed, condimentum vel diam. Proin eget fermentum dui. Ut ornare elit vitae urna sagittis hendrerit. Vivamus pharetra dignissim lorem, quis gravida nibh molestie pharetra. Sed maximus blandit enim, vitae mollis dui scelerisque nec. Duis molestie libero vitae tellus suscipit dapibus. Nulla nec gravida erat.
        </div>
    </div>
    <div class="content-item photo">
        <img id="paella" src="../assets/img/paella.jpg"/>
    </div>
</div>
