.food {
    margin: 30px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgba(177, 144, 33, 0.673);
    color: black;
    text-align: center;
    border-radius: 5px;
    border: solid black 1.5px;
    display: flex;
    flex-flow: column nowrap;
}
.img-container {
    height: 15vh;
}
.img-container > img {
    max-height: 15vh;
}
.food h5{
    padding:auto;
}
.food p{
    padding:auto;
}
.price-container{
    margin-top: auto;
}
.action-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}
