<div *ngIf="!loading">
  <div >
      <div class="table-responsive" id="table">
          <table class="table table-striped table-light table-hover">
              <thead>
                  <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Description</th>
                      <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let category of categoriesDisplayed" class="table-warning">
                      <td class="text-center">{{ category.name }}</td>
                      <td class="text-center">{{ category.description }}</td>
                      <td>
                          <div class="action-container">
                              <button (click)="openModalEdit(editCategoryModal, category.categoryId)" class="btn" style="background-color:transparent" ><i class="fas fa-edit"></i></button>
                              <button (click)="onDelete(category.categoryId);" class="btn" style="background-color:transparent" ><i class="fas fa-trash-alt"></i></button>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td align="center" colspan="4">
                          <button (click)="openModal(addCategoryModal)" class="btn btn-lg btn-success" id="button">Add Category</button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <div class="row justify-content-center" *ngIf="categories.length > paginationLength">
              <pagination
                  [totalItems]="numberOfItems"
                  [(ngModel)]="currentPage"
                  [ngModelOptions]="{standalone: true}"
                  (pageChanged)="pageChanged($event)"
                  [itemsPerPage]="paginationLength"
                  [maxSize]="10"
                  [boundaryLinks]="true"
              ></pagination>
          </div>
      </div>
  </div>
</div>

<div *ngIf="loading" class="loader-container">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" [fullScreen]="false">
      <p style="color: white">Please Wait. </p>
  </ngx-spinner>
</div>

<ng-template #addCategoryModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new Category</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="newCategoryForm" (ngSubmit)="addCategory()">
          <div class="form-row">
              <div class="col-md-12">
                  <label>Name</label>
                  <input class="form-control" name="name" formControlName="name" [ngClass]="{'is-invalid': newCategoryForm.controls.name.status === 'INVALID' && newCategoryForm.controls.name.touched }">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group w-100">
                  <label>Description</label>
                  <textarea class="form-control" name="description" formControlName="description" [ngClass]="{'is-invalid': newCategoryForm.controls.description.status === 'INVALID' && newCategoryForm.controls.description.touched }"></textarea>
              </div>
          </div>
          <div class="container" [ngStyle]="{'marginTop': '20px'}">
              <button class="btn btn-success btn-block" [disabled]="newCategoryForm.invalid">Submit</button>
          </div>
      </form>
  </div>
</ng-template>

<ng-template #editCategoryModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Category</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()">
          <div class="form-row">
              <div class="col-md-12">
                  <label>Name</label>
                  <input class="form-control" name="name" formControlName="name" [ngClass]="{'is-invalid': editCategoryForm.controls.name.status === 'INVALID' && editCategoryForm.controls.name.touched }">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group w-100">
                  <label>Description</label>
                  <textarea class="form-control" name="description" formControlName="description" [ngClass]="{'is-invalid': editCategoryForm.controls.description.status === 'INVALID' && editCategoryForm.controls.description.touched }"></textarea>
              </div>
          </div>
          <div class="container" [ngStyle]="{'marginTop': '20px'}">
              <button class="btn btn-success btn-block" [disabled]="editCategoryForm.invalid">Submit</button>
          </div>
      </form>
  </div>
</ng-template>

