<div class="row">
    <div class="col-md-1">
        <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="../assets/img/Restaurant.png"/>
        </div>
    </div>
    <div class="col-md-10">
        <h1 id="restaurant">La Paëlla</h1>
    </div>
    <div class="col-md-1">
        <app-login *ngIf="!isLoggedIn"></app-login>
        <div *ngIf="isLoggedIn" style="margin-top: 40px">
            <input type="button" id="logout" class="btn btn-light btn-lg" value="Logout" (click)="logout()">
        </div>
    </div>
</div>
