#full_container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

app-common {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 20px;
  background-color: #825a2354;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

app-administration {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 20px;
  background-color: #825a2354;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  max-height: 100vh;
}
