#table{
    margin-top:50px;
    border-radius: 2em;
}

table tbody tr{
    color: black;
    font-weight: bold;
}
table tbody tr td{
    padding: 50px;
}

#noOrders{
    color: red;
    text-align:center;
    font-weight: bold;
}