

table tbody tr, table tbody tr button{
    color: black;
    font-weight: bold;
}
table tbody tr td{
    vertical-align: middle;
}

.img-cell{
    width: 20vw;
}

.img-cell img {
  width: 150px !important;
  height: 150px !important;
}
.action-container {
    display: flex;
    justify-content: center;
}
#button{
    margin-top:20px;
}
.banner {
    margin:50px 0px 20px 0px;
    height: 50px;
    background-color: yellow;
    color:black;
    border-radius: 2em;
    text-align:center;
    font-weight: bold;
}
#title{
    padding-top:9px;
}

.loader-container{
    position: relative;
    min-height: 400px;
}
