<div *ngIf="!loading">
    <div id="table">

        <table class="table table-striped table-light table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>User</th>
                    <th class="text-center">Last update date</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of polishedOrdersDisplayed; let i = index">
                    <tr class="table-warning">

                        <td class="text-center">
                            <button class="btn" style="background-color:transparent" (click)="isCollapsed[i] = !isCollapsed[i]">
                                <i class="fas fa-arrow-alt-circle-right" *ngIf="isCollapsed[i]"></i>
                                <i class="fas fa-arrow-alt-circle-down" *ngIf="!isCollapsed[i]"></i>
                            </button>
                        </td>
                        <td class="img-cell">{{ order.user.firstname }} {{order.user.lastname}} ({{order.user.email}})</td>
                        <td class="text-center">{{ order.order.update_date | date:'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{ order.order.total }}€</td>
                        <td class="text-center">
                            <span dropdown *ngIf="order.order.status != 'INCART' && isAdmin" style="position: relative">
                                <button id="basic-link-{{i}}" class="btn" style="background-color:transparent" dropdownToggle
                                attr.aria-controls="basic-link-dropdown-{{i}}">{{ order.order.status }}</button>
                                <ul id="basic-link-dropdown-{{i}}" *dropdownMenu class="dropdown-menu"
                                    role="menu" attr.aria-labelledby="basic-link-{{i}}">
                                <li *ngFor="let choice of statuses">
                                    <a class="btn" style="background-color:transparent" *ngIf="choice != order.order.status" (click)="onUpdate(order.order, choice)">{{choice}}</a>
                                </li>
                                </ul>
                            </span>
                            <span *ngIf="order.order.status == 'INCART' || !isAdmin">
                              {{order.order.status}}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="!isCollapsed[i]">
                        <td colspan="5">
                            <div [collapse]="isCollapsed[i]" [isAnimated]="true">
                                <ng-container *ngIf="order.foodOrders.length">
                                    <div class="row">
                                        <div class="col-md-3">
                                            Food
                                        </div>
                                        <div class="col-md-3">
                                            Quantity
                                        </div>
                                        <div class="col-md-3">
                                            Comments
                                        </div>
                                        <div class="col-md-3">
                                            Sub-total
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let fo of order.foodOrders">
                                        <div class="col-md-3">
                                            {{ fo.food.name }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ fo.details.quantity }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ fo.details.comments }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ fo.details.subTotal }}
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="row" *ngIf="!order.foodOrders.length">
                                    No items placed
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="row justify-content-center" *ngIf="orders.length > paginationLength">
            <pagination
                [totalItems]="numberOfItems"
                [(ngModel)]="currentPage"
                [ngModelOptions]="{standalone: true}"
                (pageChanged)="pageChanged($event)"
                [itemsPerPage]="paginationLength"
                [maxSize]="10"
                [boundaryLinks]="true"
            ></pagination>
        </div>
    </div>
</div>

<div *ngIf="loading" class="loader-container">
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" [fullScreen]="false">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
</div>
