<div>
    <div class="banner">
        <h3 id="title">Drinks</h3>
    </div>
    <div class="row">
        <div class="table-responsive" id="table">
            <table class="table table-striped table-light table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let drink of drinks">
                        <tr class="table-warning">
                            <th scope="row"><img src="{{ drink.image }}" height="80" width="80"/></th>
                            <td>{{ drink.name }}</td>
                            <td>{{ drink.price }}</td>
                            <td><button (click)="onDelete(drink.id);" type="submit" class="btn btn-lg btn-danger">Delete</button></td>
                        </tr> 
                    </ng-container>
                    <tr>
                        <!-- must be input type file here but I gave up with the uploads -->
                        <td><img src="../../../../assets/img/noimage.jpg" id="image" height="80" width="80"></td>
                        <td><input type="text" name="name" id="name" [(ngModel)]="name" placeholder="Name..."></td>
                        <td><input type="text" name="price" id="price" [(ngModel)]="price" placeholder="price..." size="8"></td>
                        <!-- ngClass here, if name, price or image length 0, class=d-none -->
                        <td><button (click)="addDrink()" class="btn btn-lg btn-success" id="button">Add a drink</button></td>
                    </tr>
                </tbody>
            </table>
        </div>          
    </div>
</div>



