:host/deep/.ingredient-modal-container{
  max-height: 90vh !important;
  display: flex;
}

:host/deep/.ingredient-modal-container .modal-body{
  overflow-y: scroll;
}

.admin-router-container {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
