<div *ngIf="!loading">
    <div class="row">
        <div class="table-responsive" id="table">
            <table class="table table-striped table-light table-hover">
                <thead *ngIf="orders.length">
                    <tr>
                        <th></th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Comments</th>
                        <th class="text-center">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let order of polishedOrders; let i = index">
                        <tr class="table-warning">
                            <td class="img-cell"><img class="img-fluid rounded" src="{{ order.food.imageURL }}"/></td>
                            <td class="text-center">{{ order.food.name }}</td>
                            <td class="text-center">{{ order.foodOrder.quantity }}
                                <button [disabled]="order.foodOrder.quantity < 2" (click)="onUpdate(i, 'minus')" class="btn quantityBtn" style="background-color:transparent">
                                    <i class="fas fa-arrow-down"></i>
                                </button>
                                <button (click)="onUpdate(i, 'plus')" class="btn quantityBtn" style="background-color:transparent">
                                    <i class="fas fa-arrow-up"></i>
                                </button>
                            </td>
                            <td>{{ order.foodOrder.comments || "No comments made"}}</td>
                            <td class="text-center">{{ order.foodOrder.subTotal }}€</td>
                            <td class="text-center">
                                <button (click)="onDelete(i);" class="btn" style="background-color:transparent" ><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="float-right">
                <!-- ngClass: table-responsive if orders not empty, d-none if empty-->
                <button type="button" class="btn btn-lg btn-success" *ngIf="orders.length">Payement</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 *ngIf="!orders.length" id="noOrders">You don't have any orders yet !</h4>
        </div>
    </div>
</div>