#table{
    margin-top:50px;
    border-radius: 2em;
}

table tbody tr{
    color: black;
    font-weight: bold;
}
table tbody tr td{
    padding: 30px;
    vertical-align: middle;
}

#noOrders{
    color: red;
    text-align:center;
    font-weight: bold;
}

.quantityBtn{
    padding: 5px;
}

.img-cell{
    width: 20vw;
}